/A.class
/A_dynamic.class
/B.class
/B_dynamic.class
/ConversionOfDatatype.class
/FibonacciSeq.class
/MultiplicationTable.class
/NameLength.class
/PalindromeIdentifier.class
/PalindromeIdentifier2.class
/Pattern.class
/ReverseNumber.class
/ReverseNumberForLoop.class
/Revpattern.class
